<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TradingManagementSystem.Properties.Settings.conn"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\ki 2 nam 2\lap trinh window\DoAn\TradingManagementSystem\TradingManagementSystem\Database1.mdf&quot;;Integrated Security=True" />
    </connectionStrings>
</configuration>